[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gkmSVM"]
	path = gkmSVM
	url = https://github.com/cran/gkmSVM
	shallow = true
	registered = true
